[Unit]
Description=Guix package sharing over LAN
After=network.target

[Service]
ExecStart=/bin/bash -c "guix publish -a -p 33"

[Install]
WantedBy=multi-user.target
